<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to mumbls.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up to mumbls.com, with the username is: <%= @user.alias %>.<br/>
    </p>
    <p>
      To activate your account, just follow this link:<%= link_to @url, @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>