.color_button, .color_button:visited {
	background: #222 url(overlay.png) repeat-x;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  display: inline-block; 
	color: #fff;
  cursor: pointer;
  padding: 5px 10px 6px;
  position: relative;
	text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);  
}
  
div.new_listing {
  margin-left: 50px;  
}

a.button:hover, a.color_button:hover {
  text-decoration: none;
}

.small.color_button, .small.color_button:visited { font-size: 11px}
.color_button, .color_button:visited, .medium.color_button, .medium.color_button:visited { 
  font-size: 16px;
	font-weight: bold;
  line-height: 1;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    padding: 8px 14px 9px; 
}
.large.color_button, .large.color_button:visited { 
  font-size: 18px;
  padding: 8px 14px 9px; 
}
.super.color_button, .super.color_button:visited {		
  font-size: 30px;
	padding: 8px 14px 9px; 
}

.black.color_button, .black.color_button:visited	{ background-color: #000; }
.black.color_button:hover				        { background-color: #999; }  
.blue.color_button, .blue.color_button:visited	{ background-color: #4271a3; }
.blue.color_button:hover				        { background-color: #2a4a6a; }  

.green.color_button, .green.color_button:visited	{ background-color: #91bd09; }
.green.color_button:hover				        { background-color: #749a02; }  
.orange.color_button, .orange.color_button:visited	{ background-color: #ff5c00; }
.orange.color_button:hover				{ background-color: #d45500; }

.button {
  background: #eee;
  background:-moz-linear-gradient(center bottom , #ddd, #fff) repeat scroll 0 0 transparent;
  background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  border: 1px solid #999;
  color: #2d2d2d;
  cursor:pointer;
  display:inline-block;
  font: bold 1.2em/100% Arial,Helvetica,sans-serif;
  height: 35px;
  margin-right: 20px;
  outline:medium none;
  padding: 0.5em 1.25em 0.55em;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background: #ddd;
  background:-moz-linear-gradient(center bottom , #ccc, #fff) repeat scroll 0 0 transparent;
  background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
  text-decoration: none;
}

.nav {
  border: none;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60px;
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.6);
}

