html, body {  
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 12px;
  line-height: 18px;
  height: 100%;
  margin: 0;
  padding: 0;   
}


a {
color: #000;
text-decoration: none;
}

#minimenu a {
color: #fff;
}

a:hover {
text-decoration: underline;
}

#clear {
clear: both;
}

#categories li.line {
margin-bottom: 15px;
}

#categories li.subtitle {
font-weight: bold;
border-bottom: solid 1px #b5ccde;
padding-left: 0;
}

#links {
padding: 20px;
}

#wrapper, #header, #middle, #footer {
width: 1100px;
}

#header_content {
border-bottom: solid 1px #6094bc;
padding-bottom: 25px;
}

#header_content, #middle_content, #footer_content {
width: 1050px;
margin: 0 auto;
}

#header img {
margin-top: 15px;
}

#wrapper {
margin: 0 auto;
}

#header {
margin-bottom: 25px;
}

#top_content #logo {
	height: 50px;
	width: 500px;
	font: 72px Impact,Helvetica,arial,sans-serif;
}
#top_content #nav {
	font: 25px Impact,Helvetica,arial,sans-serif;
	height: 30px;
	width: 550px;
}
#top_content #nav li {
	float: right;
	padding: 0px 10px 0px 10px;
	list-style-type: none;
	border-bottom: 3px solid #90C3F9;
}
#top_content #nav li:hover {
	border-bottom: 3px solid #659dd9;
}
#rpi_pic {
	margin: 40px 0px 0px 0px;
	border: 5px solid #90C3F9;
}
.page_title {
	background-color: #659dd9;
}

#rightcolumn {
float: right;
width: 460px;
}

#leftcolumn {
float: left;
margin-right: 90px;
height: 76px;
width: 340px;
-moz-border-radius-bottomright: 2px;
-moz-border-radius-bottomleft: 2px;
}

h1 {
text-transform: lowercase;
font-weight: bold;
font-size: 24pt;
}

#minimenu {
background-color: #6094bc;
padding: 5px;
-moz-border-radius-bottomright: 2px;
-moz-border-radius-bottomleft: 2px;
}

ul {
margin: 0;
padding: 0;
}

#nav {
margin-top: 15px;
}

#nav ul {
float: left;
}

#nav ul li:hover {
background-color: #b5ccde;
border: solid 1px #000;
}

#nav ul li{
background-color: #eee;
-moz-border-radius: 5px;
border: solid 1px #ccc;
float: right;
list-style-type: none;
padding: 6px 15px;
margin-right: 20px;
width: 50px;
text-align: center;
}

#nav ul li a {
color: #000;
text-decoration: none;
}

#nav ul li a:hover {
color: #000;
text-decoration: none;
}

#minimenu ul {
float: left;
padding-left: 16px;
}

#minimenu ul li {
float: right;
list-style-type: none;
padding-right: 18px;
text-align: center;
}

#middle_content {
margin-top: 20px;
}


#footer {
bottom: 0;
border-top: solid 1px #b5ccde;
height: 50px;
color: #6094BC;
margin-top: 30px;
padding-top: 5px;
}

select {
border: solid 1px #b5ccde;
padding: 7px;
-moz-border-radius: 8px;
background-color: #fff;
width: 210px;
margin-right: 20px;
height: 32px;
}

input#searchbar {
width: 507px;
-moz-border-radius: 8px;
border: solid 1px #b5ccde;
background-color: #fff;
height: 27px;
}

input#button {
-moz-border-radius: 8px;
border: none;
background-color: #fff;
height: 27px;
width: 100px;
font-size: 14pt;
font-weight: bold;
letter-spacing: -1px;
font-family: Arial;
}

p.title {
font-size: 14pt;
font-weight: bold;
letter-spacing: -1px;
margin-bottom: 10px;
margin-left: 5px;
margin-top: 25px;
}

#container {
float: left;
margin-right: 25px;
}

#categories {
width: 189px;
-moz-border-radius: 8px;
border: solid 1px #b5ccde;
padding: 10px;
margin-left: 2px;
}

#content {
float: left;
/*margin-top: 54px;*/
}

#categories li {
list-style-type: none;
line-height: 22px;
padding-left: 10px;
}

div.item {
margin-right: 30px;
width: 158px;
height: 170px;
border: solid 1px #b5ccde;
padding: 10px;
float: left;
}

div.lastitem {
width: 158px;
height: 170px;
border: solid 1px #b5ccde;
padding: 10px;
float: left;
}


div#job_rent {
margin-top: 15px;
}

div#recent_jobs {
margin-right: 25px;
}

div#recent_jobs, div#recent_rent {
float: left;
width: 365px;
}

div#listings {
width: 350px;
height: 300px;
border: solid 1px #b5ccde;
padding: 10px;
}

#footer ul {
float: left;
margin-left: 25px;
}

#footer ul li {
list-style-type: none;
float: right;
padding-right: 20px;}

