html, body {  
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 12px;
  height: 100%;
  line-height: 18px;
  margin: 0;
  padding: 0;   
}

.margin_left {
  margin-left: 15px;
}
.right {
  float: right;
  text-align: right;
}

.notification {
  font-size: 10px;
  color: #999;
}

.edit {
  letter-spacing: 0px;
  bottom: 5px;
}

.delete {
  margin-left: 10px;
}

.ital {
font-style: italic;
}

.notice {  
  border-radius: 8px;
  -moz-border-radius: 8px;
  font-size: 12px;  
  text-align: center;  
  margin: 0px !important;
  width: 200px !important;
  border: solid 1px #999;
}

.notice_message {  
  margin-left: 8px;
  margin-right: 8px;
}

.left {
  float: left;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li.error {
  margin-left: 30px;
}

div.bold, td.bold {
  font-weight: bold;
}

img {
  border: none;
}

img.table_img {
  margin-left: 15px;
}

.banner {
  margin-top: 35px;
}

#clear {
  clear: both;
}

#categories li.subtitle {
  border-bottom: solid 1px #999999;
  margin-top: 12px;
  padding: 0px;
  font-size: 1.2em;
  font-weight: bold;
}

#wrapper, #middle, #footer {
  width: 1100px;
}

#header_content {
  width: 1120px;
  margin: 0 auto;
}

#wrapper {
  margin: 0 auto;
}

#header {
background: url('../images/top_gradient.png') repeat-x;
margin-bottom: 25px;
height: 117px;
}

img.slogan {
margin-left: 130px;
}

#leftcolumn img {
display: block;
}

#top_content #logo {
	height: 50px;
	width: 500px;
	font: 72px Impact,Helvetica,arial,sans-serif;
}
#top_content #nav {
	font: 25px Impact,Helvetica,arial,sans-serif;
	height: 30px;
	width: 550px;
}
#top_content #nav li {
	float: right;
	padding: 0px 10px 0px 10px;
	list-style-type: none;
	border-bottom: 3px solid #90C3F9;
}
#top_content #nav li:hover {
	border-bottom: 3px solid #659dd9;
}
#rpi_pic {
	margin: 40px 0px 0px 0px;
	border: 5px solid #90C3F9;
}
.page_title {
	background-color: #659dd9;
}

#rightcolumn {
float: right;
width: 550px;
}

#leftcolumn {
float: left;
}

h1 {
text-transform: lowercase;
font-weight: bold;
font-size: 24pt;
}

#minimenu a {
color: #fff;
}

#minimenu {
padding: 10px 0px 0px 0px;
text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
}

#minimenu ul {
float: left;
}

#minimenu ul li {
float: right;
list-style-type: none;
padding-right: 18px;
text-align: center;
}

ul {
margin: 0;
padding: 0;
}

#nav {
margin-top: 35px;
}

#nav ul {
float: left;
}

#dashboard {
  border-spacing: 0em .4em;
  width: 100%;
  margin-bottom: 30px;
}

#dashboard p.title {
  border-bottom: none;
}
#dashboard td {
  padding-left: 10px;
  padding-right: 10px;
}

#dashboard .valign {
  vertical-align: middle;
}

#dashboard .b {
  font-weight: bold;
}

#dashboard tr.lightrow {
  background: #eee;
}

#dashboard tr.darkrow {
  background: #ddd;
}

#dashboard .mtop {
  margin-top: 5px;
}

#nav ul li{
float: right;
list-style-type: none;
}

#middle_content {
margin-top: 20px;
}


#footer {
bottom: 0;
border-top: solid 1px #999999;
height: 50px;
color: #999;
margin-top: 30px;
padding-top: 5px;
}

#footer a {
  color: #999;
}

select {
border: solid 1px #999999;
padding: 7px;
-moz-border-radius: 8px;
border-radius: 8px;
background-color: #fff;
width: 210px;
margin-right: 20px;
height: 36px;
}

input#searchbar {
width: 507px;
-moz-border-radius: 8px;
border-radius: 8px;
border: solid 1px #999999;
background-color: #fff;
height: 28px;
font-size: 16px;
padding: 3px 0px 3px 20px;
}

input#button {
-moz-border-radius: 8px;
border-radius: 8px;
border: none;
background-color: #fff;
height: 27px;
width: 100px;
font-size: 14pt;
font-weight: bold;
letter-spacing: -1px;
font-family: Arial;
}

p.subtitle {
  font-weight: bold;
  font-size: 16px !important;
}


p.title {
font-size: 14pt;
font-weight: bold;
letter-spacing: -1px;
margin-bottom: 10px;
margin-top: 25px;
}

#container {
float: left;
margin-right: 25px;
}

#categories {
width: 189px;
-moz-border-radius: 8px;
border-radius: 8px;
border: solid 1px #999999;
padding: 0px 10px 10px 10px;
margin-left: 2px;
}

#content {
float: left;
/*margin-top: 54px;*/
}

#categories li {
list-style-type: none;
line-height: 22px;
padding-left: 10px;
}


div.item {
-moz-border-radius: 8px;
border-radius: 8px;
margin-right: 30px;
width: 168px;
border: solid 1px #999;
float: left;
background:-moz-linear-gradient(center bottom , #ededed, #fffdfd) repeat scroll 0 0 transparent;
background:-webkit-gradient(linear, left top, left bottom, from(#fffdfd), to(#ededed));
padding-bottom: 10px;
}

#recent_items {
margin-bottom: 30px;
}

div.item:hover {
  background:-moz-linear-gradient(center bottom , #ededed, #fffdfd) repeat scroll 0 0 transparent;
  background:-webkit-gradient(linear, left top, left bottom, from(#fffdfd), to(#ededed));
}

div.item_image {
  height: 140px;
  margin: 0 auto;
  width: 140px;  
  padding: 14px 3px 14px 3px;  
}


div.item_title {    
  padding-left: 10px; 
  padding-right: 10px; 
  height: 40px;
}

div.item_price {
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
}
div.item_author {
  padding-left: 10px;
  float: left;  
}

div.item_author a {
  font-size: 95%;
  color: #909090;
}

div.item_text {    
}

div.lastitem {
width: 158px;
height: 170px;
border: solid 1px #999999;
padding: 10px;
float: left;
}


div#job_rent {
margin-top: 15px;
}

div#recent_jobs {
margin-right: 25px;
}

div#recent_jobs, div#recent_rent {
float: left;
width: 365px;
}

div#listings {
width: 350px;
height: 300px;
border: solid 1px #999999;
padding: 10px;
}

#footer ul {
float: left;
margin-left: 25px;
}

#footer ul li {
list-style-type: none;
float: right;
padding-right: 20px;
}

.center {
text-align: center;
}
#box {
margin-bottom: 25px;
margin-right: 25px;
width: 355px;
border: solid 1px #999;
padding: 15px;
-moz-border-radius: 8px;
border-radius: 8px;
background:-moz-linear-gradient(center bottom , #ededed, #fffdfd) repeat scroll 0 0 transparent;
background:-webkit-gradient(linear, left top, left bottom, from(#fffdfd), to(#ededed));
}

#left {
float: left;
}

#outside {
margin: 0 auto;
width: 825px;
}

#big_outside {
margin: 0 auto;
width: 915px;
}

#small_outside {
margin: 0 auto;
width: 750px;
}

.small_box {
width: 750px !important;
}

.display_box {
width: 550px !important;
float: left;
}

.poster_box {
  width: 245px !important;
  float: left;
}

#box input, textarea {
margin-left: 15px;
border: solid 1px #999;
-moz-border-radius: 5px;
border-radius: 5px;
height: 20px;
}

.school {
font-weight: bold;
font-size: 10px;
color: #999;
}
.posted_by {
  width: 140px;
}

.poster_box img {
  border: solid 1px #999;
}

.posted_by div {
margin-bottom: 3px;
}

.section {
  padding-bottom: 10px;
  border-bottom: solid 1px #999;
}

.light {
color: #909090;
}

.posted_by .user {
  color: #2a4a6a;
  margin-bottom: 0px !important;
}

#box select {
margin-left: 15px;
}

.table_img_center {
  display:block;
  margin: 0 auto;
}

#listing_price {
width: 100px;
}


input.submission {  
  height: 35px !important;
  margin-top: 30px;
}

.no_margin {
  margin: 0px !important;
}

#listing_description {
width: 400px;
height: 100px;
}

#listing_title {
width: 400px;
}

td {
vertical-align: top;
text-align: left;
}

.avatar {
  border: solid 1px #999;
}

.label {
  width: 102px;

}

div.table_text {
  margin-left: 15px;
}

td {
  padding-bottom: 10px;
}

.table_text p {
  border-bottom: none !important;
  font-size: 12px !important;
  padding: 0px !important;
  margin: 0px !important;
}

.text {
margin-top: 25px;
}


.submission:hover {
background:-moz-linear-gradient(center bottom , #ddd, #fff) repeat scroll 0 0 transparent;
background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
}


#box p {
padding: 0px;
font-size: 18px;
margin-top: 0px;
margin-bottom: 10px;
padding-bottom: 10px;
border-bottom: solid 1px #999;
}

table.upload_images {
  margin-top: 30px;
}

