<div id = "small_outside">
  <div id = "box" class="small_box about">
    <p class="title">Mumbls: Who are we?</p><img src = '/images/about_us.jpg' class="left" alt = ""/><h3 class = "left">
Mumbls was created by four Rensselaer Polytechnic Institute Seniors. They are
Mike Cronin, Angela Panfil, Julian Connor and Alex Penny. Mumbls is an
online college marketplace which features job postings, apartment listings,
and classified items listed by students. It was created to bring the college
community closer together by establishing a place where local sales and
business transactions can safely occur. If you would like to contact us for
any reason, please do so by emailing, contact@mumbls.com</h3>
<div id = 'clear'></div>
</div>

</div>