<div id = "small_outside">
  <div id = "box" class="small_box">
    <p class="title">Payments : <small> your account does not have the credits needed to post, please purchase credits in order to post.</small></p>
<form action="https://authorize.payments-sandbox.amazon.com/pba/paypipeline" method="post">
  <input type="hidden" name="immediateReturn" value="1" >
  <input type="hidden" name="amount" value="USD 10" >
  <input type="hidden" name="collectShippingAddress" value="0" >
  <input type="hidden" name="isDonationWidget" value="0" >
  <input type="hidden" name="description" value="premium" >
  <input type="hidden" name="amazonPaymentsAccountId" value="KULKQWXKVBQG4PBDKJIRJ4V317FDL6NIBA93EI" >
  <input type="hidden" name="returnUrl" value="http://localhost:3000/confirm_payment/<%= current_user.id %>" >
  <input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" >
  <input type="hidden" name="cobrandingStyle" value="logo" >
  <input type="hidden" name="processImmediate" value="1" >
 <!--  <input type="image" src="http://g-ecx.images-amazon.com/images/G/01/asp/beige_medium_paynow_withlogo_whitebg.gif" border="0">-->
  <input type="submit" style="height: 100%"class="color_button large blue new_listing" value="Pay Now">
</form>
</div>
</div>