<form name="feedback" method="post">
  <table>
        <tr>
        <td><select>
          <option>All Items</option>
          <option>Textbooks</option>
          <option>Sports Equipment</option>
        </select></td>
        <td><input id = "searchbar" type="text" name="search" size="50"></td>
      </tr>
    </table>
  </form>